html {
    width: 450px;
    height: 500px;
}

.window {
    background-color: #eee;
}

.tabs {
    background-color: #f5f5f4;
}

.list-group-item .icon {
    font-size: 20px;
}

.toolbar-header {
    padding: 5px 0px;
}

.btn-default.hidden {
    background-color: #ddd;
    background-image: none;
}

.tab-item:after {
    content: normal;
}

.tab-item a {
    text-decoration: none;
    color: #333;
    display: block;
}

li.list-group-item:hover {
    background-color: #eee;
}

.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.alert {
    padding: 3px 6px;
    margin-top: 6px;
    border-radius: 3px;
}

